* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

.footer {
          background-color:yellow;
          padding:70px  0;
         display: flex;
       
        }

 .footer-col{
              width: 25%;
              padding: 0 15px;
        


 }
    

.container{
             max-width: 1170px; 
             background-color: yellow;
             margin:auto
             displa
}
ul{   
     list-style: none;

}
.row{
      display : flex;
      
     
}
