<footer>
    <div class=" footer">
        <div class=" footer-col ">
            <h4>Rv sur place:</h4>
            <p> 1, Avenue Charles <br>Saint Venant<br>
                59155 - Faches Thumesnil<br>ou par téléphone<br>03 20 95 12 59</p>

        </div>

        <div class=" footer-col ">
            <h4>Prise de RVD</h4>
            <ul>
                <p>Le lundi apm de 14h à 17h00</p>
                <p>le mardi de 9h30 à 12h00 et de 14h à 17h00</p>
                <p>le mercredi de 9h30 à 12h0</p>
                <p>Le jeudi apm de 14h à 17h00</p>
                <p>Le vendredi de 9h30 à 12h00 et de 14h à 17h00 </p>
            </ul>
        </div>

        <div class=" footer-col ">
            <ul>
                <h4>Contacts</h4>
                <p>Contacts professionels Educateurs: </p>
                <li>
                    <p>06 33 32 83 87</p>
                <li> <a href="#"></a>06 80 15 75 90</li>
                <p>07 48 11 17 01</p>
                <p>Psysychologue</p>
                <p>06 79 85 75 03</p>
                <p>E-mail</p>
                <p>cipd.abdou.d@orange.fr</p>
            </ul>
        </div>

        <div class=" footer-col ">
            <h4>Autres contacts</h4>
            <ul>
                <li> <a href="#">www.cipd-oxygene.fr</a></li>
                <li> <a href="#">cipd7villes@wandoo.fr</a></li>
            </ul>
        </div>

        <div class="social-links">

            <div class="col -md-12 text-center">
                <a href="#"><i class="fa-brands fa-facebook-f  text white mr-4"></i></a>
                <a href="#"><i class="fa-brands fa-snapchat text white mr-4"></i></a>
                <a href="#"><i class="fa-brands fa-instagram text white mr-4"></i></a>
            </div>
        </div>
    </div>
</footer>