<nav>
  <img id="cjc-logo" src="../../assets/navbar/cjc_logo.jpg" alt="logo du cjc">
  <div id="cjc-acro-container">
    <div class="cjc-acro-words">Consultation</div>
    <div class="cjc-acro-words">Jeunes</div>
    <div class="cjc-acro-words">Consommateurs</div>
  </div>
  <img id="oxy-logo" src="../../assets/navbar/oxy_logo.png" alt="logo d'oxygène'">
  <div id="menu-container">
    <div class="menu-item">
      <a routerLink="./presentation" fragment="presentation">
        Présentation
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="./missions" fragment="missions">
        Missions
      </a>
    </div>
    <div class="menu-item two-lines-item">
      Les Consultations<br />Avancées
    </div>
    <div class="menu-item two-lines-item">
      Accompagnement<br />Individuel
    </div>
    <div class="menu-item">
      <a routerLink="./form" fragment="form">
        Contact
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="./gallery" fragment="gallery">
        Galerie
      </a>
    </div>
  </div>
</nav>