

<div id="Prez">
<app-section-title title="{{title}}"></app-section-title>
<div class="Enfin">
<div class="Srogne">
<p>La Consultation Jeunes Consommateurs (CJC) constitue la principale porte d'entrée pour l'accompagnement des jeunes de 11 à 25 ans en premières expérimentations ou consommateurs réguliers de substances psychoactives.</p>
<p>Dispositif de proximité confidentiel et gratuit, la Consultation Jeunes Consommateurs (CJC) accueille les jeunes agés de 11 à 25 ans consommateurs de substance psychoactives (cannabis, alcool, tabac, cocaïne opiacés...) ou présentant un  risque de développement de conduite addictives liées à certaines pratiques du quotidien (jeux vidéo, internet, réseaux sociaux, jeux d'argent et de hasard...).</p>
<p>La famille et l'entourage peuvent également être accueillis, seuls ou conjointement afin de recevoir l'écoute, l'aide, et le conseil pouvant amener le jeune à consulter.</p>
</div>
<div class="Gneugneu">
<img src="../../assets/presentation/AFF_Making-of_Pics_Whole 1.png" alt="Intervention dans un collège de la région pour une mission de prévention">
</div>
</div>
</div>
<!--On commence avec une div très classique que l'on mettera en plus en forme dans le CSS-->
<!--J'ai fais un essai avec la première ligne où j'ai implémenté des br pour voir l'effet comparé au deuxième paragraphe-->

<div id="Horaires">
<!--On va y mettre le petit tableau j'y reviendrai après-->
<!--Après recherhche sur Internet on va faire un beau tableau HTML! J'y reviendrai s'il nous reste du temps...-->
<h3>Horaires de la CJC:</h3>
    <table class="center">
        <tr>
            <th> </th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
        </tr>
        <tr>
            <th>9h00 à 12h30</th>
            <th>Fermé</th>
            <th>Sur RDV</th>
            <th>Sur RDV</th>
            <th>Sur RDV</th>
            <th>Sur RDV</th>
        </tr>
        <tr>
            <th>13h30 à 17h30</th>
            <th>Sur RDV</th>
            <th>Sur RDV</th>
            <th>Accueil Libre</th>
            <th>Sur RDV</th>
            <th>Sur RDV</th>
        </tr>
    </table>
</div>

<div container id="Statement">
<p>L'accompagnement y est gratuit et confidentiel. <br>A la demande de la personne il peut être anonyme.</p>
<!--A mettre en gras pour le site-->
</div>