<!-- ici la partie texte du site divisé en 3 div afin de flexer aiu mieux et reduire le css -->
<div class="consult-container">
  <app-section-title title="{{ title }}"></app-section-title>
  <div class="consult-part1">
    <section class="consult">
      Les Consultations Avancées Afin de faciliter l'intervention précoce et
      l'orientation rapide (IPOR), des consulta- tions avancées sont mises en
      place en milieu scolaire et des permanences sont assurées par les
      professionnels de la CJC-OXYGÈNE dans les différentes villes du CIPD. Des
      rendez-vous peuvent ainsi être donnés par les professionnels de la CJC
      dans les locaux des différents partenaires des villes du CIPD ainsi qu'au
      niveau des infirmeries au sein des établissements scolaires où nous
      intervenons. Sur la ville de Seclin, une consultation avancée est assurée
      au sein de la Maison des Acteurs de la Promotion de la Santé au quartier
      de la "Mouchonnière
    </section>
  </div>
  <div class="consult-row">
    <section>
      M.A.P.S (quartier “La mouchonnière”) 2/2 rue Degeyter 59113 Seclin
    </section>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2579.906092595353!2d3.024763098401162!3d50.54189213012106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d36de7e0108b%3A0x31f46f079f8f632b!2sLa%20Mouchonniere!5e0!3m2!1sfr!2sfr!4v1646918487600!5m2!1sfr!2sfr"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <div class="consult-section">
    <section>
      La méthodologie de la CJC-Oxygène, dans ce cadre spécifique, consiste à
      "aller vers" pour "faire venir" afin de "faire avec" : aller vers les
      jeunes dans leur con- texte de vie pour aider au repérage et à la
      déstigmatisation de la CJC ; ce qui pourra faciliter le premier contact et
      faire venir les jeunes au sein des consulta- tions avancées et/ou dans les
      locaux de la CJC pour rencontrer les intervenants qui, le cas échéant,
      proposeront un soutien à la gestion des vulnérabilités ou des
      consommations abusives de substances psychoactives tout en veillant à leur
      montée en compétences individuelles pour enfin faciliter éventuellement,
      une orientation vers le soin si nécessaire
    </section>
  </div>
</div>
