<app-section-title title="{{ title }}"></app-section-title>
<!-- c'est ici que l'on instancie le composant gallery -->
<div class="gal-container-top">
  <img src="../../assets/img/AFF_Making-of_Pics.png" alt="" />
  <img src="../../assets/img/Attente.png" alt="" />
  <img src="../../assets/img/Attente1.png" alt="" />
</div>

<div class="gal-container-bottom">
  <img src="../../assets/img/Bureau_Psy.png" alt="" />
  <img src="../../assets/img/Detente.png" alt="" />
  <img src="../../assets/img/ecrans...Quels_Risques.jpg" alt="" />
</div>
