<app-section-title title="{{ title }}"></app-section-title>
<div class="form-container">
  <form action="https://formspree.io/mdowjnre" method="POST">
    <div class="">
      <label>Nom </label>
      <input
        type="text"
        id="name_field"
        name="name_field"
        required
        placeholder="Votre nom"
      />
    </div>
    <div class="">
      <label for="name_field"> Prénom </label>
      <input
        type="text"
        id="name_field"
        name="name_field"
        required
        placeholder="Votre prénom"
      />
    </div>
    <div class="">
      <label for="_replyto">Email</label>
      <input
        type="email"
        id="_replyto"
        name="_replyto"
        required
        placeholder="monmail@gmail.com"
      />
    </div>
    <div class="">
      <label for="_replyto">Association/Société</label>
      <input
        type="email"
        id="_replyto"
        name="_replyto"
        required
        placeholder="Mon association"
      />
    </div>
    <div class="select">
      <label for="select">Motif :</label>
      <select name="motif" id="form-select">
        <option value="dog">Prise de rendez-vous</option>
        <option value="cat">Partenariat</option>
      </select>
    </div>
    <div class="">
      <label for="textarea_message">Votre message</label>
      <textarea
        id="textarea_message"
        name="textarea_message"
        class="textarea"
        placeholder="Ecrivez-nous votre message"
      ></textarea>
    </div>
    <div>
      <button type="submit" class="nes-btn">Envoyer</button>
    </div>
  </form>
</div>
