// ici le css est ecrit en less afin d'avoir une visibilité et d'eviter de classer tte les divs !
.form-container {
  font-family: "Heebo", sans-serif;
  display: flex;
  height: 700px;
  width: 470px;
  margin: auto;
  background-color: #ffffb5;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
  form {
    margin: auto;
    div {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      margin-bottom: 5%;
      label {
        font-family: "Heebo", sans-serif;
        text-align: center;
        padding-bottom: 2%;
      }
      input {
        font-family: "Heebo", sans-serif;
        background-color: #f98b41;
        text-align: center;
        padding: 5%;
        margin: 2%;
      }
      select {
        font-family: "Heebo", sans-serif;
        background-color: #f98b41;
      }
      textarea {
        font-family: "Heebo", sans-serif;
        background-color: #f98b41;
        height: 150px;
        width: 200px;
      }
      .nes-btn {
        margin: auto;
        font-family: "Heebo", sans-serif;
        height: 40px;
        width: 90px;
        background-color: #0fa870;
        color: white;
      }
    }
  }
}
