// ici le css est ecrit en less afin d'avoir une visibilité et d'eviter de classer tte les divs !
.acc-container {
  font-family: "Heebo", sans-serif;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  section {
    height: 500px;
    width: 800px;
    background-color: #baffb4;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    opacity: 75%;
    padding: 5% 10% 1% 10%;
    font-size: large;
    font-weight: bold;
  }
}
