<app-section-title title="{{ title }}"></app-section-title>
<div class="acc-container">
  <section>
    Au sein de la CJC, l'équipe intervenante est composée d'Éducateurs en
    Prévention- Santé, d'une Psychologue et d'un Chef de Service coordinateur
    qui, lors d'un pre- mier entretien évaluatif, évoquent la situation de vie
    du jeune dans sa globalité (sco- larité, liens familiaux, amicaux, santé,
    bien-être / mal-être, ...) afin d'effectuer un bi- lan des consommations,
    pour ensuite apporter une information et un conseil per- sonnalisé au jeune
    et à ses proches. Si nécessaire, un Dossier Individuel de Prise en Charge
    (DIPC) est alors ouvert au nom du jeune accueilli qui peut, s'il le
    souhaite, être accompagné de manière ano- nyme. Dans cette démarche,
    l'entourage est souvent invité à être rencontré, considéré comme acteur à
    part entière dans la prise en charge. Un accompagnement pour ai- der à
    l'arrêt ou à la réduction des consommations du jeune est proposé et lorsque
    la situation le justifie, une orientation spécifique vers d'autres services
    ou profes- sionnels spécialisés peut être envisagée. Il s'agit
    principalement pour l'équipe de la CJC de procéder à une Intervention Pré-
    coce et une Orientation Rapide (IPOR) si justifiée. Ce travail s'envisage en
    réseau partenarial privilégié avec les acteurs scolaires, sociaux et de
    santé du secteur Le jeune accueilli qui souhaite un accompagnement
    individuel avec un éducateur ou avec la psychologue reste au centre de la
    relation et demeure le principal pro- tagoniste dans les décisions qui
    concernent sa prise en charge avec la perspec- tive de développer son
    autonomie et de devenir acteur de sa propre sant
  </section>
  <img src="../../assets/img/Attente1.png" alt="" />
</div>
